{% extends 'baseoffline.html.twig' %}
{% block body %}
   
    <div class="row">
        <div class="col-lg-12">
            <p>Si l'utilisateur existe, un email a été envoyé. Il contient un lien pour réinitialiser votre mot de passe. Ce lien va expiré dans {{ tokenLifetime|date('g') }} heure(s).</p>
            <p>Si vous ne recevez pas le mail, vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">essayez encore</a>.</p>
        </div>
    </div>
   
{% endblock %}
