{% extends 'base.html.twig' %}

{% block body %}
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-6">
				<h1>
				Aïe ! 
				</h1>
				<h2>Vous n'êtes pas autoriser à accéder à cette ressource</h2>
				<h4>On a sûrement du mal vous renseigner ! Vous pouvez retourner à l'accueil ou accéder directement a un des domaines de MAPSI.</h4>
			</div>
		</div>
	</div>
{% endblock %}