{% extends 'base.html.twig' %}

{% block body %}
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-6">
				<h1>
				Oups ! 
				</h1>
				<h2>Quelque chose est cassé</h2>
				<h4>Nous nous assurons de ne pas perdre vos données :) Aidez nous à réparer cette erreur rapidement en fournissant les détails affichés ci-dessous à votre administrateur.
				<br>
				{{ dump() }}
				<br>En attendant, vous pouvez retourner à l'accueil ou accéder directement a un des domaines de MAPSI.</h4>
			</div>
		</div>
	</div>
{% endblock %}