<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MAPSI.fr{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="{{path('home')}}">MAPSI</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarColor02">
		    <ul class="navbar-nav mr-auto  nav-pills nav"> 
			   <li class="nav-item">
		        <a class="nav-link" href="{{path('site_list')}}">Sites</a>
		      </li> 
		      <li class="nav-item">
		        <a class="nav-link" href="{{path('metier_list')}}">Métiers</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{path('processus_list')}}">Processus</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{path('activite_list')}}">Activités</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{path('appli_list')}}">Applications</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{path('systeme_list')}}">Systèmes</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{path('people_list')}}">Collaborateurs</a>
		      </li>
		       <li class="nav-item">
		        <a class="nav-link" href="{{path('objetmetier_list')}}">Objets Métier</a>
		      </li>`
		      <li class="nav-item">
		        <a class="nav-link" href="{{path('tier_list')}}">Tiers</a>
		      </li>
		       <li class="nav-item">
		        <a class="nav-link" href="{{path('ressource_list')}}">Ressources</a>
		      </li>
		      
		        <li class="nav-item">
		        <a class="nav-link" href="{{path('security_registration')}}">Inscription</a>
		      </li>		          
		     		      
		      {% if not app.user %}
			  <li class="nav-item">
		        <a class="nav-link" href="{{path('login')}}">Connexion</a>
		      </li>
		      {% else %}
		      <li class="nav-item">
		        <a class="nav-link" href="{{path('logout')}}">Déconnexion</a>
		      </li>
		      {% endif %}
		      
		      <li class="nav-item">
		      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
		      	<a class="nav-link" href="{{path('security_edit',{'id' : app.user.id} ) }}">
			    {{ app.user.username }}  	
			  	</a>
			  {% endif %}
			 </li>
		    </ul>
		    
		  </div>
		</nav>
		<div class="container">
			<div class="page-header" id="banner">
					<br><br><br>
					{% block header %}
					
					{% endblock %}

      		</div>
			<div class="content">
			
	        {% block body %}
	       
	     
	        
	        {% endblock %}
			</div>
			<br><br><br><br>
		 </div>	
<footer class="footer mt-auto py-3" id="footer">
  <div class="container">
    <span class="text-muted">Copyright mapsi.fr.</span>
  </div>
</footer>
        	
        	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
			 

			{% block javascripts %}{% endblock %}
       
        
        
	 
    </body>
</html>
