{{ include('datatable/tableheader.html.twig', {dtname : 'objet_metier' }) }}

<table id="dataTables-objet_metier" class="table table-bordered select table-hover">
    <thead>
        <tr>
            <th class="align-middle"></th>
            <th>Désignation</th>
            <th>Responsable</th>
            <th>Processus</th>
            <th>Relations</th>
            <th>Comply</th>
            <th>Statut</th>
        </tr>
    </thead>
</table>

