<h3>Votre mot de passe est réinitialisé</h3>
Bonjour {{ user.prenom }},<br><br>

Votre connexion à <a href="https://app-mapsi.fr">app-mapsi.fr</a>.
<br><br>
Votre mot de passe : <b>{{ password }}</b>
<br>
Utilisez votre email pour vous identifier
<br><br>
Pensez à supprimer cet email. Bonne journée!

