<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INSPINIA - Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/inspinia/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="/inspinia/css/animate.css" rel="stylesheet">
    <link href="/inspinia/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/inspinia/css/style.css" rel="stylesheet">
</head>
<body id="page-top" class="landing-page no-skin-config">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
            <div class="container">
	            {% if not app.user %}
                <a class="navbar-brand" href="{{path('login')}}">Connexion</a>
                {% else %}
                <a class="navbar-brand" href="{{path('logout')}}">Déconnexion</a>
                {% endif %}
                <div class="navbar-header page-scroll">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Application<br/>
	                    de cartographie<br/>
	                    fonctionnelle</h1>
                    <p>Gestion de gouvernance, <br/>de conformité et de gestion des risques</p>
              
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="/inspinia/img/landing/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
    </div>

</div>


<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contactez nous</h1>
                <p>Nous sommes présents en Guadeloupe et à Nantes</p>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <div class="col-lg-3 ">
                <address>
                    <strong><span class="navy">OLING Management et Technologie</span></strong><br/>
                    51 rue Henri Becquerel<br/>
                    97 122, BAIE MAHAULT<br/>
                    <abbr title="Phone"></abbr> (+590) 590 57 00 02
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                OLING accompagne les organisations publiques comme privées dans la conception et la mise en oeuvre de leurs projets d’entreprises. Nos consultants sont engagés, ils comprennent et s’adaptent à l’environnement et aux enjeux de nos clients.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:contact@oling.fr" class="btn btn-primary">Envoyer nous un email</a>
                <p class="m-t-sm">
                    ou suivez nous sur les réseaux sociaux
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/company/oling-management-&-technologie/?originalSubdomain=fr"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/Olingmt/"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2019 OLING Management et Technologies</strong><br/> Conseil en organisation et système d'information</p>
            </div>
        </div>
    </div>
</section>

<!-- Mainly scripts -->
<script src="/jquery341/jquery-3.4.1.min.js"></script>
<script src="/bootstrap441/js/bootstrap.bundle.min.js"></script>
<script src="/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/inspinia/js/inspinia.js"></script>
<script src="/inspinia/js/plugins/pace/pace.min.js"></script>
<script src="/inspinia/js/plugins/wow/wow.min.js"></script>


<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '#navbar',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

</body>
</html>
